@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.custom-loc-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-title {
  color: transparent;
  font-size: clamp(48px, 10vw, 96px);
  font-style: normal;
  font-weight: 400;
  -webkit-text-stroke: 1px #00b2ff;
}

.create-custom-loc-section {
  text-align: center;
  margin: 0.2rem 0.2rem 0.5rem 0.2rem;
}

.custom-loc-form {
  width: 98vw;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #00b2ff;
  padding: 1rem;
  margin-bottom: 0.5rem;
  animation: fadeIn .5s ease-in;
}

.custom-loc-form-coords {
  display: flex;
  justify-content: center;
  gap: 5vw;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.custom-loc-form-input {
  width: 95%;
  max-width: 500px;

  background-color: transparent;
  border: 1px solid #00b2ff;
  border-radius: 5px;

  font-family: var(--font-fugazOne);
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  text-align-last: center;
  color: #ffffff;
  cursor: pointer;
}

#customLocNameInput {
  font-family: var(--font-hanuman);
  cursor: text;
}

#submitMessage {
  color: #F18F01;
  font-weight: 700;
}

#errorMessage {
  width: 90vw;
  margin: auto;
  color: #F18F01;
  font-weight: 700;
  text-align: center;
}

.map-container {
  width: 100vw;
  height: 100dvh;
}
