.custom-loc-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-title {
  font-family: var(--font-fugazOne);
  z-index: 1;
  color: transparent;
  font-size: 10vw;
  font-style: normal;
  font-weight: 400;
  -webkit-text-stroke: 1px #00b2ff;
}

.create-custom-loc-section {
  text-align: center;
  margin: 1rem .2rem .5rem .2rem;
}

.map-container {
  width: 100vw;
  height: 100vh;
}
