.edit-loc-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-title {
  color: transparent;
  font-size: clamp(48px, 10vw, 96px);
  font-style: normal;
  font-weight: 400;
  -webkit-text-stroke: 1px #00b2ff;
}

.edit-user-loc-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #9FAF90;
  border-radius: 5px;
}

.edit-user-loc-heading {
  padding: .75rem;
  font-size: 1.75rem;
}

.edit-user-loc-select {
  background-color: transparent;
  border: 1px solid #00b2ff;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--font-fugazOne);
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  text-align-last: center;
  color: #ffffff;
  cursor: pointer;
}

.edit-user-loc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 98vw;
  padding-bottom: 1rem;
}