.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.home-content {
  max-width: 1600px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  width: 90%;
  text-align: center;
}

.site-title {
  font-family: var(--font-fugazOne);
}

.location-div {
  display: flex;
  align-items: center;
}

.location-select {
  padding: 5px;
  border-radius: 3px;
  margin-left: 1vw;
}

.type-select {
  padding: 5px;
  margin: 0vh 0vw 0vh 1vw;
  border-radius: 3px;
}

.type-select-div {
  display: flex;
  align-items: center;
}

.detailed-forecast {
  width: 90%;
}

.detailed-day-forecast {
  margin: 2% 0% 2% 0%;
}

.day-forecast-header {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.day-forecast-icon {
  border-radius: 5px;
}

.loading-msg {
  color: rgb(209 0 255);
  font-size: 1.5rem;
  font-weight: 600;
  width: 80vw;
  text-align: center;
}

.error-msg {
  text-align: center;
  width: 80vw;
  margin: 10px;
}

.reload-page-btn {
  padding: clamp(2px, 1vw, 12px);
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.8rem;
  }

  select {
    font-size: 0.8rem !important;
  }

  .detailed-forecast {
    width: 97%;
  }

  .day-forecast-icon {
    height: 55px;
    width: 55px;
  }
}
