.home-main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.home-content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-header {
  position: sticky;
  top: 0;
  z-index: -1;
}

.hero-img-div {
  height: 20vh;
  width: 100vw;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-title {
  font-family: var(--font-fugazOne);
  z-index: 1;
  color: #ffffff00;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  -webkit-text-stroke: 1px #00b2ff;
}

.header-bkgd-img {
  object-fit: cover;
  object-position: center;
}

.type-location-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100vw;
  min-height: 10vh;
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
  border-top: 1px solid #00b2ff;
  border-bottom: 1px solid #00b2ff;
  position: sticky;
  top: 0;
  background-color: #2a3c43;
}

.home-forecast-section {
  z-index: 3;
  background-color: #2a3c43;
}

.location-div {
  display: flex;
  align-items: center;
}

.type-select, .location-select {
  width: 90vw;
  height: 3rem;
  background-color: transparent;
  /* Removes BG bubble appearance in Safari */
  appearance: initial;
  border: 1px solid #00b3ff;
  border-radius: 5px;

  font-family: var(--font-fugazOne);
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  text-align-last: center;
  color: #ffffff;
}

.location-select {
  font-size: 1.4rem;
}

.type-select-div {
  display: flex;
  align-items: center;
}

.detailed-forecast {
  padding: 0% 2% 0% 2%;
  border-bottom: 1px solid #00b2ff;
  min-height: 70dvh;
}

.detailed-day-forecast {
  margin: 2% 0% 2% 0%;
}

.day-forecast-header {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.day-forecast-icon {
  border-radius: 5px;
}

.loading-msg {
  color: rgb(209 0 255);
  font-size: 1.5rem;
  font-weight: 600;
  width: 80vw;
  text-align: center;
}

.error-msg {
  text-align: center;
  width: 80vw;
  margin: 10px;
}

.reload-page-btn {
  padding: clamp(2px, 1vw, 12px);
  border-radius: 5px;
}

/* Change to Desktop breakpoint */

/* @media screen and (max-width: 600px) {
  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.8rem;
  }

  select {
    font-size: 0.8rem !important;
  }

  .detailed-forecast {
    width: 97%;
  }

  .day-forecast-icon {
    height: 55px;
    width: 55px;
  }
} */
