.home-main {
  max-width: 1600px;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.home-content {
  max-width: 1600px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-header {
  position: sticky;
  top: 0;
  z-index: -1;
}

.hero-img-div {
  height: 20vh;
  width: 100vw;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-title {
  font-family: var(--font-fugazOne);
  position: relative;
  z-index: 1;
  color: #ffffff00;
  font-size: 48px;
  -webkit-text-stroke: .5px #00B2FF;
}

.header-bkgd-img {
  object-fit: cover;
  object-position: center;
}

.type-location-select-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  width: 90%;
  text-align: center;
}


.home-forecast-section {
  position: relative;
  z-index: 3;
  background-color: #2A3C43;
}

.location-div {
  display: flex;
  align-items: center;
}

.location-select {
  padding: 5px;
  border-radius: 3px;
  margin-left: 1vw;
}

.type-select {
  padding: 5px;
  margin: 0vh 0vw 0vh 1vw;
  border-radius: 3px;
}

.type-select-div {
  display: flex;
  align-items: center;
}

.detailed-forecast {
  width: 90%;
}

.detailed-day-forecast {
  margin: 2% 0% 2% 0%;
}

.day-forecast-header {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.day-forecast-icon {
  border-radius: 5px;
}

.loading-msg {
  color: rgb(209 0 255);
  font-size: 1.5rem;
  font-weight: 600;
  width: 80vw;
  text-align: center;
}

.error-msg {
  text-align: center;
  width: 80vw;
  margin: 10px;
}

.reload-page-btn {
  padding: clamp(2px, 1vw, 12px);
  border-radius: 5px;
}

/* Change to Desktop breakpoint */

/* @media screen and (max-width: 600px) {
  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.8rem;
  }

  select {
    font-size: 0.8rem !important;
  }

  .detailed-forecast {
    width: 97%;
  }

  .day-forecast-icon {
    height: 55px;
    width: 55px;
  }
} */
