.article {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  border: 1px solid #9faf90;
  border-radius: 3px;
  padding: 1rem 2vw;
}

.detail-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: nowrap;
}

.time-div {
  max-width: 22vw;
}

.temp-div {
  width: 25vw;
  text-wrap: wrap;
}

@media only screen and (min-width: 500px) {
  .detail-div {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 975px) {
  .article {
    width: 49%;
  }
}