@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.add-loc-main {
  width: 98%;
  max-width: 1600px;
  height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #9faf90;
  margin: 1rem 0rem;
  border-radius: 5px;
}

#addLocBackBtn {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.site-title {
  color: transparent;
  font-size: clamp(48px, 10vw, 96px);
  font-style: normal;
  font-weight: 400;
  -webkit-text-stroke: 1px #00b2ff;
}

.add-loc-section {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.2rem 0.2rem 0.5rem 0.2rem;
  font-size: 0.875rem;
}

#addLocTitle {
  padding: 0.75rem;
  font-size: 1.75rem;
  text-align: center;
}

.add-loc-form {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #00b2ff;
  padding: 1rem;
  margin-bottom: 0.5rem;
  animation: fadeIn 0.5s ease-in;
}

.add-loc-form-coords {
  display: flex;
  justify-content: center;
  gap: 5vw;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.add-loc-form-input {
  width: 95%;
  max-width: 500px;
  height: 3rem;
  background-color: transparent;
  border: 1px solid #00b2ff;
  border-radius: 5px;
  font-family: var(--font-fugazOne);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  text-align-last: center;
  color: #ffffff;
  cursor: pointer;
}

.add-loc-btn-div {
  display: flex;
  width: 95%;
  max-width: 500px;
  gap: 1rem;
}

#addLocNameInput {
  font-family: var(--font-hanuman);
  cursor: text;
}

#submitMessage {
  color: #f18f01;
  font-weight: 700;
}

#errorMessage {
  width: 90vw;
  margin: auto;
  color: #f18f01;
  font-weight: 700;
  text-align: center;
}

.map-container {
  width: 100%;
  height: 100%;
}

/* @media only screen and (max-width: 459px) {
  .add-loc-main {
    margin-top: 1.5rem;
  }
} */

@media only screen and (min-width: 769px) {
  .add-loc-main {
    height: 97vh;
  }

  .map-container {
    padding: 1rem;
  }

  .map-container > div {
    border-radius: 5px;
    outline: 2px solid #00b2ff;
  }
}
